@font-face {
  font-family: 'Roboto Serif';
  src: url('./fonts/Roboto_Serif/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf')
    format('truetype');
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Serif';
  src: url('./fonts/Roboto_Serif/RobotoSerif-Italic-VariableFont_GRAD,opsz,wdth,wght.ttf')
    format('truetype');
  font-weight: 400 700;
  font-style: italic;
}
/* @font-face {
  font-family: 'Protest Guerrilla';
  src: url('./fonts/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
} */
:root {
  --font-main: 'Roboto', Arial, serif;
  --font-nummer: 'Protest Guerrilla', Arial, serif;
  --color-nummer: #e2e3e8;
  --color-title: #5f5f5f;
  --color-title_small: #5f5f5f;
  --color-txt: #1d1d1d;
  --color-accent: #0038ff;
  --color-accent-dark: #001166;
  --color-contakt: #1d1d1d;
  --background-bace: #ecf7fc;
  --color-soc: #5f5f5f;
}

body {
  font-family: var(--font-main);
  font-style: normal;
  color: var(--color-txt);
}
html,
body {
  overflow-x: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.section {
  padding-top: 56px;
  padding-bottom: 56px;
  border-bottom: 1px solid #ddd;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 102px;
    padding-bottom: 102px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.lazy-img {
  filter: blur(14px);
  transition: filter 0.4s ease;
}

.lazy-img.loaded {
  filter: blur(0);
}

h1 {
  font-family: var(--font-main);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: var(--color-title);
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 55px;
  }
}

h2 {
  font-family: var(--font-main);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-title_small);
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 40px;
  }
}

.caption {
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--color-title_small);
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .caption {
    font-size: 24px;
  }
}
.claim {
  margin-top: 24px;
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--color-title_small);
}
@media screen and (min-width: 1200px) {
  .claim {
    margin-top: 30px;
    font-size: 18px;
  }
}

.text {
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  color: var(--color-title_small);
}

@media screen and (min-width: 1200px) {
  .text {
    font-size: 18px;
  }
}

/* Soc link */

.soc_link {
  background-color: transparent;
}
.soc_link:hover,
.soc_link:focus {
  fill: var(--color-accent);
}
br.media320 {
  display: none;
}
@media (max-width: 767px) {
  br.media320 {
    display: inline;
  }
}
br.media1200 {
  display: none;
}
@media (min-width: 1200px) {
  br.media1200 {
    display: inline;
  }
}
.price {
  text-align: center;
  font-family: var(--font-main);
  font-size: 24px;
  font-weight: 400;
  color: rgb(255, 0, 0);
}
.contakt {
  font-size: 16px;
  line-height: 2;
}
@media screen and (min-width: 1200px) {
  .contact {
    line-height: 2;
    font-size: 20px;
  }
}

/* button */
.wrap_book-kaufen {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-kaufen .button,
.e-book_kaufen .button {
  margin-top: 12px;
}
.button-leserprobe {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .wrap_book-kaufen {
    margin-top: 54px;
  }
  .book-kaufen .button,
  .e-book_kaufen .button {
    margin-top: 18px;
  }
}
.button {
  width: 225px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .button {
    width: 235px;
    height: 56px;
    font-size: 24px;
  }
}
.button-kaufen {
  background-color: #022bff;
  color: white;
  border: none;
  box-shadow: 0 4px 10px rgba(34, 35, 36, 0.8),
    inset 4px 0 13px rgba(180, 198, 246, 0.6);
}
.button-kaufen:active,
.button-kaufen:hover {
  color: #a9f2fc;
  box-shadow: inset 4px 0 53px rgba(34, 35, 36, 0.5);
}
.button-kaufen:hover {
  color: #a9f2fc;
  background-color: #0124d4;
}
.button-kaufen:active {
  background-color: #182773;
}
.button-leserprobe {
  background-color: white;
  color: #022bff;
  border: 0.1px solid #022bff;
  box-shadow: 0 4px 10px rgba(34, 35, 36, 0.2),
    inset 0 -4px 8px rgba(255, 255, 255, 0.6);
}
.button-leserprobe:hover,
.button-leserprobe:active {
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
  color: #9c97d9;
}
.button-leserprobe:hover {
  background-color: #eef7fa;
}
.button-leserprobe:active {
  background-color: #b0ccda;
}

.button-leserprobe a {
  color: inherit;
}
.button-leserprobe:active a {
  color: #182773;
}

/* Нeader */
.header {
  background-color: #fff;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav {
  display: block;
  align-items: center;
}

.header_info {
  font-size: 12px;
  text-align: center;
  color: var(--color-contakt);
  padding-top: 8px;
}

.header_info a {
  color: rgb(163, 30, 7);
}
@media screen and (min-width: 1200px) {
  .header_info {
    font-size: 20px;
    padding-top: 16px;
  }
}

.logo-header img {
  max-height: 40px;
}
@media screen and (min-width: 1200px) {
  .logo-header img {
    max-height: 54px;
  }
}

/* section Hero */

.hero {
  padding-top: 16px;
  background-color: var(--background-bace);
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 20px;
    min-height: 100vh;
    background: url('../img/map_hero_desktop.webp') center / cover no-repeat;
  }
}

.hero .hero_conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .hero_wrap-youtube {
  margin-top: 24px;
  border-bottom: 1px solid #ddd;
}
@media screen and (min-width: 1200px) {
  .hero .hero_wrap-youtube {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.hero .hero_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 1200px) {
  hero .hero_link {
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
  }
}
.hero .soc_icon.icon-soc-youtube {
  width: 79px;
  height: 47px;
  fill: rgb(255, 0, 0);
}
.hero .hero_wrap-youtube:hover .soc_icon.icon-soc-youtube {
  fill: #990303;
}

.hero .soc_item {
  display: flex;
  align-items: center;
}

.hero .book_interest-review {
  margin-top: 20px;
  padding-left: 80px;
}

.hero .interest_review-link {
  font-size: 13px;
}

@media screen and (min-width: 1200px) {
  .hero .hero_book-interest {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  .hero .book_interest-review {
    margin-top: 26px;
  }
}
.hero .icon-star {
  fill: gold;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 1200px) {
  .hero .icon-star {
    width: 20px;
    height: 20px;
  }
}

.hero .hero_deskribe {
  margin-top: 48px;
  max-width: 602px;
}
.hero .interest_review-autor .caption {
  color: var(--color-title_small);
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero .caption {
    font-size: 22px;
  }
}

/* section Yotube */
.sectionYotubeTravel {
  display: flex;
  justify-content: center;
}

.sectionYotubeTravel_container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.sectionYotubeTravel_videowrap {
  position: relative;
  width: 100%;
  padding-bottom: 57%;
  overflow: hidden;
}

.sectionYotubeTravel_videowrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* section sectionDescription */
.sectionDescription {
  position: relative;
  min-height: 100vh;
}

.sectionDescription::before {
  content: '';
  background: url('../img/map_deskription_mobile.webp') center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
@media screen and (min-width: 1200px) {
  .sectionDescription::before {
    content: '';
    background: url('../img/map_deskription_desktop.webp') center/cover
      no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
}

.sectionDescription .sectionDescription_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionDescription_about {
  position: relative;
  max-width: 568px;
}

.sectionDescription_nummer {
  position: absolute;
  top: -52px;
  left: -7px;
  z-index: -1;
  font-family: var(--font-nummer);
  font-weight: 400;
  font-size: 60px;
  color: var(--color-nummer);
  opacity: 0.4;
}
.description_about {
  margin-top: 32px;
}
.sectionDescription_container li:nth-child(2) {
  margin-top: 48px;
}
.sectionDescription_container li:nth-child(3) {
  margin-top: 344px;
}
.sectionDescription_container li:nth-child(3) .sectionDescription_nummer {
  top: -170px;
  left: 170px;
  color: #ffffff;
  opacity: 0.6;
}
@media screen and (min-width: 1200px) {
  li.sectionDescription_about .sectionDescription_text {
    font-size: 18px;
  }
  .sectionDescription_nummer {
    font-size: 192px;
    opacity: 0.5;
  }

  .sectionDescription_container li:nth-child(1) {
    margin-top: 74px;
  }
  .sectionDescription_container li:nth-child(1) .sectionDescription_nummer {
    top: -130px;
    left: -55px;
  }

  .sectionDescription_container li:nth-child(2) {
    margin-top: 144px;
    left: -210px;
  }
  .sectionDescription_container li:nth-child(2) .sectionDescription_nummer {
    top: -160px;
    left: -100px;
  }
  .sectionDescription_container li:nth-child(3) {
    margin-top: 240px;
  }
  .sectionDescription_container li:nth-child(3) .sectionDescription_nummer {
    top: -340px;
    left: 540px;
  }
}

.sectionDescription blockquote.caption {
  margin-top: 44px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .sectionDescription blockquote.caption {
    margin-top: 72px;
  }
}
/*  section  sectionAutor */
.sectionAutor_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionAutor h2.sectionAutor_title {
  margin-top: 44px;
}
.sectionAutor p.sectionAutor_text {
  margin-top: 32px;
  max-width: 602px;
}

@media screen and (min-width: 1200px) {
  .sectionAutor h2.sectionAutor_title {
    margin-top: 72px;
  }
}

/* footer */

/* footer.section {
  background: url('../img/map_footer_mobile.webp') center/cover no-repeat;
  min-height: 100vh;
  padding-bottom: 500px;
}
@media screen and (min-width: 1200px) {
  footer.section {
    background: url('../img/map_footer_desktop.webp') center/cover no-repeat;
    padding-bottom: 478px;
  }
} */

footer.section {
  padding-top: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-image: url('../img/map_footer_mobile.webp');
}

@media screen and (min-width: 768px) {
  footer.section {
    padding-top: 20px;
    background-image: url('../img/map_footer_desktop.webp');
  }
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_contakt-logo img {
  max-height: 40px;
  margin: 0 auto;
}
footer h2.caption {
  text-align: center;
}

.footer .footer_contakt-wrap {
  margin: 0 auto;
  margin-top: 24px;
  max-width: 298px;
  text-align: center;
}
.footer_contakt p.contact {
  margin-top: 20px;
}

footer .footer_contact-impressum {
  margin-top: 32px;
}

@media screen and (min-width: 1200px) {
  .footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer_contakt {
    grid-column: 2 / 3;
    text-align: center;
  }
  .footer .footer_contakt {
    text-align: center;
  }
  .footer .caption {
    text-align: center;
  }
  .footer_contakt p.contact {
    margin-top: 20px;
  }
}
/* footer  Soc_link svg*/
footer .soc_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
  fill: var(--color-soc);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .soc_icon {
  display: inline-block;
  margin: 10px;
  color: #000;
}
footer .footer_soc_list {
  display: flex;
  justify-content: center;
}

.footer .soc_icon.icon-soc-instagram,
.footer .soc_icon.icon-soc-facebook,
.footer .soc_icon.icon-soc-youtube {
  width: 24px;
  height: 24px;
}
.footer .footer_contakt-list {
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .footer .soc_icon.icon-soc-instagram,
  .footer .soc_icon.icon-soc-facebook,
  .footer .soc_icon.icon-soc-youtube {
    width: 32px;
    height: 32px;
  }
}

/* --- Модальное окно --- */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

.modal:not(.hidden) {
  display: flex;
}

/* --- Контейнер содержимого --- */
.modal-content {
  position: relative;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  max-width: 420px;
  width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.4s ease;
}

/* --- Заголовок --- */
.modal-content h2 {
  margin-bottom: 15px;
  text-align: center;
  color: var(--color-title);
  font-size: 1.4rem;
}

/* --- Крестик закрытия --- */
.close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
  transition: color 0.2s ease;
}
.close-btn:hover {
  color: #000;
}

/* --- Поля формы --- */
#bookForm input,
#bookForm select {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border: 1px solid var(--color-title_small);
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.2s ease;
}

#bookForm input:focus,
#bookForm select:focus {
  border-color: (var(--color-accent));
  outline: none;
}

/* --- Чекбокс --- */
#bookForm .checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 15px;
}

/* --- Кнопка отправки --- */
#submitBtn {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--color-accent);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#submitBtn:hover {
  background-color: var(--color-accent-dark);
}

#submitBtn[disabled] {
  background-color: var(--background-bace);
  cursor: not-allowed;
}

/* --- Анимации --- */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* --- Адаптивность --- */
@media (max-width: 480px) {
  .modal-content {
    padding: 20px;
  }

  #bookForm input,
  #bookForm select {
    font-size: 15px;
  }
}
